.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    display: flex;
    background: linear-gradient(to right, #bfbfc3, #e8edef);
    border-radius: 8px;
    min-width: 500px;
    position: relative;
    justify-content: center;

}

.closeBtn {
    position: absolute;
    color: black;
    top: 20px;
    right: 15px;
    font-size: 1.5rem;
    width: 40px;
    border-radius: 40%;
    border: none;
    cursor: pointer;
}

.closeBtn:hover {
    border: none
}