.toast {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    bottom: 80%;
    right: 5%;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 9999;
    animation: fadeIn 0.3s ease-in-out;
}

.toast img {
    width: 100px;
    height: 100px;
}

.toast span {
    color: black;
    font-size: 28px;
}

.success {
    box-shadow: 0 4px 12px rgba(76, 175, 80, 0.5);

}

.error {
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.4);
}

.toast button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}