.create {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

.create button {
    width: 220px;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
}

.category {
    display: flex;
    flex-direction: column;
    background-color: #f2f6fc;;
    padding: 30px 0;
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 22px;
}

.category label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.category form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category input {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.deleteCategory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#f2f6fc;
    padding: 30px 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    gap: 20px;
}

.categoryName {
    width: 28%;
    padding: 20px;
    background-color:#fffdfd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
}

.categoryName li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    gap: 5px;

}

.addMerchant {
    height: 3em;
}

.PopUp {
    display: flex;
    flex-direction: column;
    min-width: 650px;
    align-items: center;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 0 0 30px 0;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.PopUp h2 {
    font-size: 2.5em;
    margin: 1em;
    color: #3d3b3b;
}

.PopUp label {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 2em;
}

.PopUp p {
    margin: 1px;
}

.PopUp label input,
.PopUp label select {
    width: 540px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;

}

.PopUp div {
    display: flex;
    max-width: 100%;
    justify-content: center;
    gap: 1.5em;
}

.PopUp button {
    width: 260px;
    height: 50px;
    border-radius: 10px;
    font-size: 27px;
}

.PopUp button:nth-child(1) {
    background-color: #f1f1f2;
    color: #3d3b3b;
    border: none;
}


.categoryBtns {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    gap: 6px;
}

.categoryName button {
    width: 7em;
    border-radius: 5em;
}

.categoryName h2 button {
    width: 30px;
    margin-left: 2em;
}



.categoryName button:hover {
    background-color: #eee;
    color: #666;
}

.msg {
    color: red;
}

.confirmation {
    display: flex;
    flex-direction: column;
    width: 650px;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 0 0 30px 0;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;

}

.confirmation h1 {
    color: #3d3b3b;
}

.confirmation p {
    display: inline-block;
    overflow-wrap: break-word;
    width: 400px;
    white-space: normal;
    font-size: 25px;
    color: #3d3b3b;
    margin-bottom: 60px;

}

.buttons {
    display: flex;
    gap: 1em;
    justify-content: space-around;
}

.buttons button {
    width: 200px;
    height: 70px;
    font-size: 28px;
    border-radius: 10px;
}

.yes {
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.no {
    background-color: #ffffff;
    border: 2px solid rgb(184, 182, 182);
    color: grey;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}