.login {
    display: flex;
    flex-direction: column;
    background-color: #f2f6fc;
    padding: 30px 0;
    width: 25%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 17px;
}


.login label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
}

.form span {
    font-size: 22px;
    text-align: start;
    padding-top: 1em;
}

.form a {
    text-decoration: none;
    color: #11316b;
    font-weight: 700;
}

.login input {
    width: 85%;
    height: 2em;
    padding: 2em;
    margin-bottom: 2em;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 20px;
}

.login b {
    font-size: 2.5em;
    position: relative;
    bottom: 10px;
    color: #58585c;
}


.login button {
    width: 100%;
    height: 2.5em;
    border-radius: 7px;
    font-size: 25px;
    margin-top: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.inputContainer {
    position: relative;
    width: 100%;
    height: 3em;
    margin-bottom: 24px;
}

.inputContainer input {
    padding: 12px 12px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;

}

.inputContainer input::placeholder {
    color: #d1d5db;
    font-style: italic;
}


.inputIcon {
    position: absolute;
    left: 12px;
    top: 66%;
    transform: translateY(-50%);
    color: #d1d5db;
    font-size: 19px;
}

.msg {
    color: red;
}