.OverallSpending {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 4em;
    gap: 2em;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableTitle {
    flex-grow: 4;
}

.buttons {
    display: flex;
    gap: 2em;
}


.total {
    display: flex;
    gap: 2em;
}

.total span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    background-color: #fffdfd;
    border-radius: 10px;
    padding-left: 1em;
    flex-grow: 1;
    height: 5em;
}

.total span:nth-child(1) {
    color: rgb(215, 52, 52);
}

.total span:nth-child(2) {
    color: #57a387;
}

.total span:nth-child(3) {
    color: rgb(30, 44, 154);
}

.total span:nth-child(3) strong {
    color: black
}

.pieChart {
    background-color:#f6fafd;
    border-radius: 5px;

}

.table {
    margin: 6px 0px 6px 0px;
    empty-cells: show;
    background-color: #fffdfd;
    width: 100%;
    border-collapse: collapse;
    border-radius: 25px;
}

.table caption {
    margin: 0px 7px;
    text-align: left;
}

.thead {
    border-radius: 15px;

}

.thead th,
.thead td {
    padding: 14px 7px 14px 7px;
    white-space: nowrap;
    border: 2px solid #f4f9fc;
    font-size: 25px;
}

.tbody td {
    padding: 14px 7px 14px 7px;
    white-space: nowrap;
    border: 2px solid#f4f9fc;
    text-align: left;
    font-size: 20px;
}

tfoot th.highlight,
thead th.highlight {
    background-color: #fbbc01;
}

tfoot th.highlight {
    text-align: right;
}

tbody td.highlight {
    background-color: #ffe8a6;
    text-align: right;
}

.input-date {
    max-width: 640px;
    background-color: #eee;
    padding: 7px;
    position: relative;
}

.headline {
    background-color: #eee;
    text-align: center;
    padding-bottom: 6px;
}

.dataPicket {
    max-width: 550px;
    background-color: #eee;
    height: 80px;
    padding: 10px 0 10px 0;
}

.dataPicket label {
    float: left;
    padding: 0 5px 0 5px;
    background-color: #bbb;
    width: 85px;
    margin: 2px 10px 0 10px;
    height: 20px;
    font-weight: bold;
}

.dataPicket button {
    float: right;
    margin: 35px 10px 10px 10px;
}


.summary {
    float: left;
}

.summary span:first-child {
    margin-left: 0;
}

.summary span {
    margin-left: 50px;
}